Añadir comentario: <br />
<form method="post" action="/quizes/<%= quizid %>/comments/" >
  <input type="text" id="comment"  name="comment[texto]" value="" /><br />
  <button type="submit" name="button">Enviar</button>
</form>
