<h3>Página de créditos del proyecto </h3>
<div id="img-autor">
  <ul>
    <li>
      <p>Autor:  JM_B</p>
    </li>
    <li>
      <img src="/images/hsimpson.jpg" alt="autor" style="width:90px;height:96px;">
    </li>
    <li>
      <p><a href="https://www.youtube.com/watch?v=fFvFm9WXcI0" target="_blank">
       video (opcional) </a></p>
    </li>
  </ul>
  <div>
