<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <h2><p>Pregunta: <%= quiz.pregunta %></p></h2>
  <input style="font-size:18px" type="text" name="respuesta" value="responda aquí, por favor!" />
  <input type="submit" name="submit" value="Enviar" style="font-size:18px"/>
</form>
